<div class="sb2-1">
 
   <div class="sb2-12">
      <ul>
         <li><img src="images/users/2.png" alt=""> </li>
         <li>
            <h5>John Smith <span> Santa Ana, CA</span></h5> </li>
         <li></li>
      </ul>
   </div>
   <!--== LEFT MENU ==-->
   <div class="sb2-13">
      <ul class="collapsible" data-collapsible="accordion">
         <li><a href="#/home" class="menu-active"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a> </li>
         <li><a href=""  ng-click="vm.change(1)" class="collapsible-header"><i class="fa fa-list-ul" aria-hidden="true"></i> Listing</a>
            <div class="collapsible-body left-sub-menu" id="listings">
               <ul>
                  <li><a href="admin-all-listing.html">All listing</a> </li>
                  <li><a href="admin-list-add.html">Add New listing</a> </li>
                  <li><a href="admin-listing-category.html">All listing Categories</a> </li>
                  <li><a href="admin-list-category-add.html">Add listing Categories</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="" ng-click="vm.change(2)" class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
            <div class="collapsible-body left-sub-menu" id="profiles">
               <ul>
                  <li><a href="#/members">All Users</a> </li>
                  <li><a href="#/addprofiles">Add New user</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="admin-analytics.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Analytics</a> </li>
         <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-buysellads" aria-hidden="true"></i>Ads</a>
            <div class="collapsible-body left-sub-menu" id="ads">
               <ul>
                  <li><a href="admin-ads.html">All Ads</a> </li>
                  <li><a href="admin-ads-create.html">Create New Ads</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="admin-payment.html"><i class="fa fa-usd" aria-hidden="true"></i> Payments</a> </li>
         <li><a href="admin-earnings.html"><i class="fa fa-money" aria-hidden="true"></i> Earnings</a> </li>
         <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-bell-o" aria-hidden="true"></i>Notifications</a>
            <div class="collapsible-body left-sub-menu" id="notification">
               <ul>
                  <li><a href="admin-notifications.html">All Notifications</a> </li>
                  <li><a href="admin-notifications-user-add.html">User Notifications</a> </li>
                  <li><a href="admin-notifications-push-add.html">Push Notifications</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-tags" aria-hidden="true"></i> List Price</a>
            <div class="collapsible-body left-sub-menu">
               <ul>
                  <li><a href="admin-price.html">All List Price</a> </li>
                  <li><a href="admin-price-list.html">Add New Price</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-rss" aria-hidden="true"></i> Blog & Articals</a>
            <div class="collapsible-body left-sub-menu">
               <ul>
                  <li><a href="admin-blog.html">All Blogs</a> </li>
                  <li><a href="admin-blog-add.html">Add Blog</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="admin-setting.html"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a> </li>
         <li><a href="admin-social-media.html"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Social Media</a> </li>
         <li><a href="#" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a> </li>
      </ul>
   </div>
</div>